<div id="<%= dom_id employee %>">
  <p>
  <strong> <%= t('activerecord.attributes.employee.name') %>: </strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>
  <p>
    <strong>Lương/Ngày:</strong>
    <%= employee.daily_salary %>
  </p>


  <p>
    <strong><%= t('activerecord.attributes.employee.phone') %>: </strong>
    <%= employee.phone %>
  </p>

</div>
