<p style="color: green"><%= notice %></p>

<h1>Danh sách Nhân viên</h1>

<%= link_to "Thêm nhân viên", new_employee_path %>

<%= link_to 'Xuất Excel', export_xls_employees_path(format: :xls), class: 'btn btn-success' %>
<%= link_to 'Xuất CSV', export_csv_employees_path(format: :csv), class: 'btn btn-success' %>

<br>
  <%= form_tag employees_path, method: :get do %>
    <% date = params[:daterange] %>
    <%= text_field_tag 'daterange', date, required: true %>
    <%= submit_tag 'Lọc' %>
    <%= link_to "Tất cả", employees_path %>

  <% end %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    $(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'left',
        locale: {
          "format": "DD/MM/YYYY",
          "separator": " - ",
          "applyLabel": "Áp dụng",
          "cancelLabel": "Hủy",
          "fromLabel": "Từ",
          "toLabel": "Đến",
          "customRangeLabel": "Tùy chỉnh",
          "daysOfWeek": [
            "CN",
            "T2",
            "T3",
            "T4",
            "T5",
            "T6",
            "T7"
          ],
          "monthNames": [
            "Tháng 1",
            "Tháng 2",
            "Tháng 3",
            "Tháng 4",
            "Tháng 5",
            "Tháng 6",
            "Tháng 7",
            "Tháng 8",
            "Tháng 9",
            "Tháng 10",
            "Tháng 11",
            "Tháng 12"
          ],
          "firstDay": 1
        }
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });
  </script>

  <div class="employee-box">
  <table class="table">
    <thead>
      <th>Tên</th>  
      <th>Lương/Giờ</th>  
      <th>Số giờ</th>
      <th>Lương</th>
      <th>Thưởng</th>
      <th>Phạt</th>
      <th>Thu nhập</th>
    </thead>

    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, employee %></td>
        <td><%= number_with_precision(employee.daily_salary, precision: 0, delimiter: ',', separator: '.') %> VND</td>

        <% 
          total_hours = 0.0
          total_salary = 0.0

          # Calculate total hours and total salary based on hourly wage or daily salary
          employee.attendances.each do |attendance|
            if attendance.start_time.present? && attendance.end_time.present?
              hours_worked = ((attendance.end_time - attendance.start_time) / 1.hour).round(2)
              total_hours += hours_worked

              # Calculate salary per attendance record
              salary = if attendance.hourly_wage.present? && attendance.hourly_wage > 0
                         attendance.hourly_wage
                       else
                         employee.daily_salary || 0.0
                       end

              total_salary += salary.to_f * hours_worked
            end
          end

          total_rewards = employee.rewards_penalties.where(penalty: false).sum(:amount).round(0)
          total_penalties = employee.rewards_penalties.where(penalty: true).sum(:amount).round(0)

          # Final total income calculation (total salary + rewards - penalties)
          total_income = total_salary + total_rewards - total_penalties
        %>

        <td><%= total_hours.round(2) %></td>
        <td><%= number_with_precision(total_salary, precision: 0, delimiter: ',', separator: '.') %> VND</td>
        <td><%= total_rewards %></td>
        <td><%= total_penalties %></td>
        <td><%= number_with_precision(total_income, precision: 0, delimiter: ',', separator: '.') %> VND</td>
      </tr>
    <% end %>
  </table>
</div>
