<p style="color: green"><%= notice %></p>

<h1>Danh sách Nhân viên</h1>

<%= link_to "Thêm nhân viên", new_employee_path %>
<%= link_to 'Export to XLS', export_xls_employees_path(format: :xls), class: 'btn btn-primary' %>

<button type="button" class="btn btn-success">Xuất excel theo tháng</button>
<button type="button" class="btn btn-success">Xuất excel theo quý</button>
<button type="button" class="btn btn-success">Xuất excel theo năm</button>

<table class = "table">
  <thead>
    <th>Tên</th>  
    <th>Email</th>  
    <th>Lương/Ngày</th>  
    <th>Sđt</th>  
  </thead>
  
  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.name, employee %></td>
      <td><%= employee.email%></td>
      <td><%= employee.daily_salary %></td>
      <td><%= employee.phone %></td>
    </tr>
  <% end %>
  <tr>

  </tr>
</table>

