<p style="color: green"><%= notice %></p>

<h1>Danh sách Nhân viên</h1>

<%= link_to "Thêm nhân viên", new_employee_path %>

<%= link_to 'Xuất Excel', export_xls_employees_path(format: :xls), class: 'btn btn-success' %>

<br>
  <%= form_tag employees_path, method: :get do %>
    <% date = params[:daterange] %>
    <%= text_field_tag 'daterange', date, required: true %>
    <%= submit_tag 'Lọc' %>
    <%= link_to "Tất cả", employees_path %>

  <% end %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    $(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'left',
        locale: {
          "format": "DD/MM/YYYY",
          "separator": " - ",
          "applyLabel": "Áp dụng",
          "cancelLabel": "Hủy",
          "fromLabel": "Từ",
          "toLabel": "Đến",
          "customRangeLabel": "Tùy chỉnh",
          "daysOfWeek": [
            "CN",
            "T2",
            "T3",
            "T4",
            "T5",
            "T6",
            "T7"
          ],
          "monthNames": [
            "Tháng 1",
            "Tháng 2",
            "Tháng 3",
            "Tháng 4",
            "Tháng 5",
            "Tháng 6",
            "Tháng 7",
            "Tháng 8",
            "Tháng 9",
            "Tháng 10",
            "Tháng 11",
            "Tháng 12"
          ],
          "firstDay": 1
        }
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });
  </script>

<div class="employee-box">

  <table class = "table">
    <thead>
      <th>Tên</th>  
      <th>Lương/Giờ</th>  
      <th>Tổng thu nhập</th>  
    </thead>

    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, employee %></td>
        <td><%= number_with_precision(employee.daily_salary, precision: 0, delimiter: ',', separator: '.') %> VND</td>

        <%  

            total_weight = @attendances.where(employee_id: employee.id).sum(:weight)
          %>
        <% amount = total_weight.to_f * employee.daily_salary.to_f %>
        <td><%= number_with_precision(amount, precision: 0, delimiter: ',', separator: '.') %> VND</td>
      </tr>
    <% end %>
    <tr>

    </tr>
  </table>

