
</style>
<p style="color: green"><%= notice %></p>



<div class="employee-box">
  <%= render @employee %>
</div>


<div class="d-flex justify-content-end">
  <%= link_to "Chỉnh sửa nhân viên", edit_employee_path(@employee), class: "btn btn-primary mr-2" %>
  <%= button_to "Xoá nhân viên", @employee, method: :delete, data: { confirm: "Bạn có chắc chắn muốn xoá nhân viên này?" }, class: "btn btn-danger" %>
  <%= link_to "Quay lại", employees_path, class: "btn btn-secondary mr-2" %>

</div>
<div class="employee-box">
<h1>Danh sách vân tay</h1>
<table class = "table">
<thead>
  <th>ID</th>  
  <th>Finger ID</th> 
  <th>device_finger_id </th>
  <th>Thao tác</th>
</thead>

<tbody>
  <% @employee.fingers.each do |finger| %>
    <tr id="finger-<%= finger.device_finger_id %>">
      <td><%= finger.id %></td>
      <td><%= finger.finger_id %></td>
      <td><%= finger.device_finger_id %></td>
      <td>
        <%= button_to 'Xoá', delete_fingerprint_message_employee_path(finger_id: finger.finger_id, employee_id: finger.employee_id, device_finger_id: finger.device_finger_id), method: :post, data: { confirm: 'Bạn có chắc chắn muốn xoá?' }, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
  <tr> 
    <%= button_to 'Thiết Lập Vân Tay', employees_activate_adding_finger_path, method: :post, class: 'btn btn-primary', id: "adding-finger-button", style: "float: right;" %>
  </tr>
</tbody>

</table>

<div id="enrollment-mode" style="display: none; text-align: center;">
  <%= button_to cancel_enrollment_employee_path(employee_id: @employee.id), method: :post, class: "btn btn-secondary", id: "cancel-enrollment-button", style: "display: none" do %>
    <%= image_tag("close_icon_1.svg", alt: "Cancel Enrollment", style: "width: 50px; height: 50px;") %>
  <% end %>

  <!-- Display the fingerprint image below the button -->
  <div style="margin-top: 10px;">
    <%= image_tag 'fingerprint_1.svg', alt: 'Fingerprint', class: 'img-fluid' %>
  </div>

  <div>
    <h2><span id="fingerprint-status"></span></h2>
  </div>
</div>


<h1>Thêm ngày công</h1>

<% attendance = Attendance.new %>
<% attendance.status = 0 %>
<%= form_with(model: [@employee, attendance], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :weight %>
    <%= form.number_field :weight, class: "form-control", value: 1.0, step: 0.1, validate: false %>
  </div>
   <div class="form-group">
    <%= form.label :project_id %>
    <%= form.collection_select(:project_id, Project.all, :id, :name, prompt: t("attendances.select_project"), class: "form-control") %>
    <%= link_to t("projects.new"), new_project_path %>
  </div>

  <div class="actions">
    <%= form.submit 'Thêm ngày công', class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<br>

<h1>Danh sách ngày làm việc</h1>


<div>
  <%= form_tag filter_atendances_employee_path, method: :get do %>
  <% date = params[:daterange] %>
  <%= text_field_tag 'daterange', date, required: true, placeholder: "Chọn thời gian"%>
      <%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :name, params[:project_id]), prompt: t("attendances.select_project"), class: "form-control" %>
  <%= submit_tag 'Lọc' %>
  <% end %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    
$(function() {
  $('input[name="daterange"]').focus(function() {
    $(this).daterangepicker({
      opens: 'left',
      locale: {
        "format": "DD/MM/YYYY",
        "separator": " - ",
        "applyLabel": "Áp dụng",
        "cancelLabel": "Hủy",
        "fromLabel": "Từ",
        "toLabel": "Đến",
        "customRangeLabel": "Tùy chỉnh",
        "daysOfWeek": [
          "CN",
          "T2",
          "T3",
          "T4",
          "T5",
          "T6",
          "T7"
        ],
        "monthNames": [
          "Tháng 1",
          "Tháng 2",
          "Tháng 3",
          "Tháng 4",
          "Tháng 5",
          "Tháng 6",
          "Tháng 7",
          "Tháng 8",
          "Tháng 9",
          "Tháng 10",
          "Tháng 11",
          "Tháng 12"
        ],
        "firstDay": 1
      }
    }, function(start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });
});
  </script>
</div><table class="table">
  <thead>
    <tr>
      <th>Ngày</th>
      <th>Công trình</th>
      <th>Trọng số</th>
      <th>Đơn giá</th>
      <th>Thành tiền</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <% total = 0 %>
  <tbody>
    <% @attendances.order(date: :desc).each do |attendance| %>
      <tr>
        <td><%= l attendance.date, format: :short %></td>
        <td><%= Project.find_by(id: attendance.project_id).try(:name) %></td>
        <td><%= attendance.weight %></td>
        <td><%= number_to_currency(@employee.daily_salary, unit: 'VND', format: '%n %u', precision: 0) %></td>
        <% daily_salary = @employee.daily_salary ? @employee.daily_salary : 0.0 %>
        <% amount = daily_salary ? (daily_salary.to_f * attendance.weight.to_f) : 0 %>
        <td><%= number_to_currency(amount, unit: 'VND', format: '%n %u', precision: 0) %></td>
        <td>
          <%= button_to 'Xoá', attendance_destroy_employee_path(employee_id: @employee.id, id: attendance.id), method: :delete, data: { confirm: 'Are you sure?' } %>

        <% total += ( daily_salary.to_f * attendance.weight.to_f) %>
        <td>
        </td>
      </tr>
    <% end %>
   
  </tbody>
  <tfoot>
    <tr>
      <td>Tổng lương: <%= number_to_currency(total, unit: 'VND', format: '%n %u') %></td>
      <td>
        <div>
          <%= link_to "Xuất Excel", export_attendance_xls_employees_path(employee_id: @employee.id, format: :xls), class: "btn btn-primary", method: :get %>
          <div style="clear:both"></div>
        </div>
      </td>
    </tr>
    <tr>
      
    </tr>
  </tfoot>
</table>
