
</style>
<p style="color: green"><%= notice %></p>



<div class="employee-box">
  <%= render @employee %>
</div>


<div class="d-flex justify-content-end">
  <%= button_to 'Thiết Lập Vân Tay', employee_fingers_path(@employee), method: :get, class: 'btn btn-primary', id: "adding-finger-button", style: "margin-left: 20px;" %>
  <%= link_to "Chỉnh sửa nhân viên", edit_employee_path(@employee), class: "btn btn-primary", style: "margin-left: 20px;" %>
  <%= button_to "Xoá nhân viên", @employee, method: :delete, data: { confirm: "Bạn có chắc chắn muốn xoá nhân viên này?" }, class: "btn btn-danger", style: "margin-left: 20px;" %>
  <%= link_to "Quay lại", employees_path, class: "btn btn-secondary", style: "margin-left: 20px;" %>
</div>

<div class="employee-box">

<h1>Thêm chấm công</h1>

<% attendance = Attendance.new %>
<% attendance.status = 0 %>
<%= form_with(model: [@employee, attendance], local: true, id: 'attendance-form') do |form| %>

  <!-- Check-in field (start_time) -->
  <div class="form-group">
    <%= form.label :start_time, "Check-in Time" %>
    <%= form.datetime_local_field :start_time, class: "form-control", required: true, id: 'start_time' %>
  </div>

  <!-- Check-out field (end_time) -->
  <div class="form-group">
    <%= form.label :end_time, "Check-out Time" %>
    <%= form.datetime_local_field :end_time, class: "form-control", required: false, id: 'end_time' %>
  </div>

  <div class="actions">
    <%= form.submit 'Thêm ngày công', class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<script>
  document.getElementById('attendance-form').addEventListener('submit', function(event) {
    // Get the values of start_time and end_time
    const startTime = document.getElementById('start_time').value;
    const endTime = document.getElementById('end_time').value;

    if (startTime && endTime) {
      // Convert the time inputs to JavaScript Date objects
      const start = new Date(startTime);
      const end = new Date(endTime);

      // Check if end_time is greater than start_time
      if (end <= start) {
        alert("End time must be greater than start time.");
        event.preventDefault(); // Prevent form submission if validation fails
      }
    }
  });
</script>


<br>

<div>
  <%= form_tag filter_atendances_employee_path, method: :get do %>
  <% date = params[:daterange] %>
  <%= text_field_tag 'daterange', date, required: true, placeholder: "Chọn thời gian"%>
  <%= submit_tag 'Lọc' %>
  <% end %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    
$(function() {
  $('input[name="daterange"]').focus(function() {
    $(this).daterangepicker({
      opens: 'left',
      locale: {
        "format": "DD/MM/YYYY",
        "separator": " - ",
        "applyLabel": "Áp dụng",
        "cancelLabel": "Hủy",
        "fromLabel": "Từ",
        "toLabel": "Đến",
        "customRangeLabel": "Tùy chỉnh",
        "daysOfWeek": [
          "CN",
          "T2",
          "T3",
          "T4",
          "T5",
          "T6",
          "T7"
        ],
        "monthNames": [
          "Tháng 1",
          "Tháng 2",
          "Tháng 3",
          "Tháng 4",
          "Tháng 5",
          "Tháng 6",
          "Tháng 7",
          "Tháng 8",
          "Tháng 9",
          "Tháng 10",
          "Tháng 11",
          "Tháng 12"
        ],
        "firstDay": 1
      }
    }, function(start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });
});
  </script>
</div>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Danh sách Thưởng/Phạt</h2>
  <%= link_to 'Thêm Thưởng/Phạt', new_employee_rewards_penalty_path(@employee), class: 'btn btn-primary' %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Thời gian</th>
      <th>Mô tả</th>
      <th>Thưởng / Phạt</th>
      <th>Số tiền</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <% rewards_penalties = @rewards_penalties.order(date: :desc) %>
    <% rewards_penalties.each do |reward_penalty| %>
      <tr>
        <!-- Display reward/penalty details here -->
        <td>
          <% if reward_penalty.date.present? %>
            <%= l reward_penalty.date.in_time_zone('Asia/Ho_Chi_Minh'), format: :short %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td><%= reward_penalty.description %></td>
        <td><%= reward_penalty.penalty ? "Penalty" : "Reward" %></td>
        <td><%= reward_penalty.amount %></td>
        <td>
          <%= form_with(model: [@employee, reward_penalty], method: :delete, local: true) do |form| %>
            <%= form.submit "Xoá", class: "btn btn-danger", data: { confirm: "Bạn có chắc chắn muốn xoá?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<h1>Danh sách chấm công</h1>

<table class="table">
  <thead>
    <tr>
      <th>Bắt đầu</th>
      <th>Kết thúc</th>
      <th>Số giờ làm</th>
      <th>Lương/giờ</th>
      <th>Thành tiền</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <% total = 0 %>
  <tbody>
    <% @attendances.order(date: :desc).each do |attendance| %>
      <tr>
        <td>
          <% if attendance.start_time.present? %>
            <%= l attendance.start_time.in_time_zone('Asia/Ho_Chi_Minh'), format: :short %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td>
          <% if attendance.end_time.present? %>
            <%= l attendance.end_time.in_time_zone('Asia/Ho_Chi_Minh'), format: :short %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td>
          <% if attendance.start_time.present? && attendance.end_time.present? %>
          <% working_hours = ((attendance.end_time - attendance.start_time) / 1.hour).round(2) %>
          <%= working_hours %>
          <% else %>
            0
          <% end %>
        </td>
        <td><%= number_to_currency(@employee.daily_salary, unit: 'VND', format: '%n %u', precision: 0) %></td>
        <% daily_salary = @employee.daily_salary ? @employee.daily_salary : 0.0 %>
        <% amount = daily_salary ? (daily_salary.to_f * working_hours.to_f) : 0 %>
        <td><%= number_to_currency(amount, unit: 'VND', format: '%n %u', precision: 0) %></td>
        <td>
          <%= button_to 'Xoá', attendance_destroy_employee_path(employee_id: @employee.id, id: attendance.id), method: :delete, data: { confirm: 'Are you sure?' } %>

        <% total += ( daily_salary.to_f * working_hours.to_f) %>
        <td>
        </td>
      </tr>
    <% end %>

    <!-- Tính tổng thưởng và phạt -->
    <% total_rewards = @rewards_penalties.where(penalty: false).sum(:amount) %>
    <% total_penalties = @rewards_penalties.where(penalty: true).sum(:amount) %>

    <% adjusted_total = total + total_rewards - total_penalties %>
   
  </tbody>

  <tfoot>
    <tr>
      <td><h1>Tổng lương: <%= number_to_currency(adjusted_total, unit: 'VND', format: '%n %u') %></h1></td>
      <td>
        <div>
          <%= link_to "Xuất Excel", export_attendance_xls_employees_path(employee_id: @employee.id, daterange: params[:daterange], format: :xls), class: "btn btn-primary", method: :get %>
          <div style="clear:both"></div>
        </div>
      </td>
    </tr>
    <tr>
      
    </tr>
  </tfoot>
</table>
