
</style>
<p style="color: green"><%= notice %></p>


<%= render @employee %>

<div class="d-flex justify-content-end">
  <%= link_to "Chỉnh sửa nhân viên", edit_employee_path(@employee), class: "btn btn-primary mr-2" %>
  <%= button_to "Xoá nhân viên", @employee, method: :delete, data: { confirm: "Bạn có chắc chắn muốn xoá nhân viên này?" }, class: "btn btn-danger" %>
  <%= link_to "Quay lại", employees_path, class: "btn btn-secondary mr-2" %>

</div>

<h1>Thêm ngày công</h1>
<% attendance = Attendance.new %>
<% attendance.status = 0 %>
<%= form_with(model: [@employee, attendance], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :weight %>
    <%= form.number_field :weight, class: "form-control", value: 1.0, step: 0.1, validate: false %>
  </div>

  <div class="form-group">
       <%= select_tag :status, options_for_select(['Công trình A', 'Công trình B', 'Công trình khác'], params[:status]), prompt: 'Chọn trạng thái' %>


    <%= link_to "Thêm công trình", '', class: "" %>
  </div>

  <div class="actions">
    <%= form.submit 'Thêm ngày công', class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<h1>Danh sách ngày làm việc</h1>


<div>
  <%= form_tag filter_atendances_employee_path, method: :get do %>
  <% date = params[:daterange] %>
  <%= text_field_tag 'daterange', date, required: true %>
    <%= select_tag :status, options_for_select(['Công trình A', 'Công trình B', 'Công trình khác'], params[:status]), prompt: 'Chọn trạng thái' %>
  <%= submit_tag 'Lọc' %>
  <% end %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    $(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'left',
        locale: {
          "format": "DD/MM/YYYY",
          "separator": " - ",
          "applyLabel": "Áp dụng",
          "cancelLabel": "Hủy",
          "fromLabel": "Từ",
          "toLabel": "Đến",
          "customRangeLabel": "Tùy chỉnh",
          "daysOfWeek": [
            "CN",
            "T2",
            "T3",
            "T4",
            "T5",
            "T6",
            "T7"
          ],
          "monthNames": [
            "Tháng 1",
            "Tháng 2",
            "Tháng 3",
            "Tháng 4",
            "Tháng 5",
            "Tháng 6",
            "Tháng 7",
            "Tháng 8",
            "Tháng 9",
            "Tháng 10",
            "Tháng 11",
            "Tháng 12"
          ],
          "firstDay": 1
        }
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });
  </script>
</div><table class="table">
  <thead>
    <tr>
      <th>Ngày</th>
      <th>Công trình</th>
      <th>Trọng số</th>
      <th>Đơn giá</th>
      <th>Thành tiền</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <% total = 0 %>
  <tbody>
    <% @attendances.order(date: :desc).each do |attendance| %>
      <tr>
        <td><%= attendance.date %></td>
        <td>Công trình khác</td>
        <td><%= attendance.weight %></td>
        <td><%= @employee.daily_salary %></td>
        <% daily_salary = @employee.daily_salary ? @employee.daily_salary : 0.0 %>
        <td><%= daily_salary ? (daily_salary.to_f * attendance.weight.to_f) : 0 %>
        <td>
          <%= button_to 'Xoá', attendance_destroy_employee_path(employee_id: @employee.id, id: attendance.id), method: :delete, data: { confirm: 'Are you sure?' } %>

        <% total += ( daily_salary.to_f * attendance.weight.to_f) %>
        <td>
        </td>
      </tr>
    <% end %>
   
  </tbody>
  <tfoot>
    <tr>
      <td>Tổng lương: <%= total %></td>
      <td>
        <div>
          <%= link_to "Xuất Excel", export_attendance_xls_employees_path(employee_id: @employee.id, format: :xls), class: "btn btn-primary", method: :get %>
          <div style="clear:both"></div>
        </div>
      </td>
    </tr>
    <tr>
      
    </tr>
  </tfoot>
</table>
