<div id="mqtt-messages"></div>
<h1></h1>
<div>
  <div id="connection-div" class="">
    <%= form_tag('/devices/connect', method: 'post', ) do %>
      <div class="d-flex">
        <%= text_field_tag :deviceid, nil, placeholder: "ID", class: 'form-control px-2', style: 'font-size: 34px; flex: 1;' %>
        <%= submit_tag 'KẾT NỐI', class: 'btn btn-primary ml-2 py-2', style: 'margin-left: 10px;' %>
      </div>
    <% end %>
  </div>
</div>
<div id="switch-div" style="display: none;">
  <%= render 'switchon_form' %>
  <div id="last-active-message-div"></div>
</div>

<div>
  <table class = "table">
  <thead>
    <th>Tên</th>  
    <th>ID</th>  
  </thead>

  <% @devices.each do |device| %>
    <tr>
      <td><%= device.name %></td>
      <td><%= device.chip_id%></td>

    </tr>
  <% end %>
<tr>

</tr>
</table>

</div>

<div class="row">
  <%= render 'dht_form' %>
</div>
</div>
