  
<div id="mqtt-messages"></div>
<h1></h1>
<div class="form-group form-control-lg">

  <%= form_tag('/devices/connect', method: 'post', ) do %>
    <%= label_tag :deviceid, 'Thiết bị' %><br>
    <%= text_field_tag :deviceid, nil, placeholder: "kv_", class: 'form-control' %>
    <%= submit_tag 'Kết nối' %>
  <% end %>
  <%= render 'publish_form' %>

  <div id="device-status">Đang tải trạng thái...</div>
</div>
