<h1><%= t('projects.title')%></h1>
<table class="table">
  <thead>
    <tr>
      <th>Công trình</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>
          <%= link_to "Chỉnh sửa", edit_project_path(project) %>
          <%= button_to "Xoá", project_path(project), method: :delete, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Thêm mới công trình", new_project_path %>
<%= link_to "Danh sách nhân viên", employees_path, class: "btn btn-primary"  %>


